@import url(./__triangle/kaufman__triangle.css);

.kaufman {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 0;
  background-color: #1f1f1f;
}
