@import url(./__title/feynman__title.css);
@import url(./__subtitle/feynman__subtitle.css);
@import url(./__link/feynman__link.css);

.feynman {
  height: 790px;
  position: relative;
  background-image: url(../../images/feynman.png);
  background-repeat: no-repeat;
  background-position: bottom 0 left 0;
  background-size: 867px 637px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}
