 @keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
 }
 
 h1, h2, h3, div, img,p, section{
    /* border: 2px solid red;  */
    margin:0;
} 

a {
    text-decoration: none;
    opacity: 1;
}

a:hover{
    color:rgb(179, 107, 107);
    transition:0.5s linear;
    opacity: 0.1;
}


.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

/* HEADER */
.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color:#F2F2F2;
    display:flex;
    position: relative;
    margin-bottom:100px;
    overflow:hidden;
}

.logo {
    background-position:center;
    background-size:contain;
    background-image:url(../images/logo.svg);
    background-repeat: no-repeat;
}

.logo_place_header {
    position:absolute;
    top:30px;
    order:1;
    left:64px;
    width:180px;
    height:32px;
}

.header__title {
    position: relative;
    width:730px;
    font-size:102px;
    line-height:96px;
    left:64px;
    font-weight: bold;
    margin-top:auto;
    margin-bottom:auto;
    display:inline-block;
}


.header__subtitle {
    position: absolute;
    line-height:25px;
    font-size:18px;
    bottom:30px;
    left:64px;
    width:388px;
}

.link::after {
    content:'\2192';
}

.link{
    color:#2F80ED;
}

.header__main-illustration {
    position: absolute;
    right:0;
    bottom:0;
    width:765px;
    height:608px;
    z-index:1;
    max-width:50%;
}

.header__square-pic {
    height: 568px;
    width: 568px;
    background-color:#2F80ED;
    top:64px;
    right:0;
    position: absolute;
    transform:rotate(-15deg);
    animation: rotation 20s linear infinite;
}


/* OTHER */

.description{
    margin-top:100px;
    margin-bottom:100px;
}

.two-columns__span-accent {
    font-weight: bold;
    font-size:24px;
    line-height: 34px;
}
.two-columns {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:0;
    width:80%;
    position: relative;
    margin-left:auto;
    margin-right:auto;
    /* vertical-align:top; */
}

.description p {
    margin-top:0;
}

.two-columns__brief {
    flex-basis: 175px;
    color: #2F80ED;
    line-height:1.2;
    font-size:18px;
}

.two-columns__main-text {
    flex-basis: 80%;
    min-width: 784px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.two-columns__paragraph{
    font-size:24px;
    line-height:34px;
    margin-top:30px;
    margin-bottom:30px;
}

.digits{
    margin-top:100px;
    margin-bottom:100px;
    position: relative;
}

.section-title {
    padding-top:90px;
    margin-bottom:20px;
    width:60%;
    line-height: 69px;
    font-size:60px;
    font-weight: bold;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

.section-subtitle {
    width:60%;
    line-height: 34px;
    font-size:24px;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

 .table {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    position:relative;
    margin-left: auto;
    margin-right:auto;
    width:1100px;
    justify-content: space-between;
}

.digits__table {
     margin-top:0; /* так как у ячеек 60px выставлено  */
}

.table__heading {
    line-height: 1.15;
    font-size:24px;
    font-weight: bold;
    margin-bottom:20px;
    margin-top:0;
}

.table__text {
    margin-top:20px;
    line-height:1.2;
    font-size:18px;
}

.table__cell {
    width:250px;
    min-height:5px;
    margin-top: 60px;
}

.feinman {
    margin-bottom:50px;
    padding-top:80px; 
    background-color: #F2F2F2;
    height:790px;
    background-image: url(../images/feinman.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 867px 637px;
    position: relative;
}

.feinmann__title {
    line-height:1.15;
    font-size:120px;
    font-weight: bold;
    width:648px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:70px;
    text-align: center;
}

.feinmann__subtitle {
    line-height:51px;
    font-size:36px;
    margin: 0  auto;
    text-align: center;
}

.feinmann__link {
    position: absolute;
    top:50%;
    line-height:51px;
    font-size:36px;
    right:48px;
    color:black;
}

.kaufman {
    padding-bottom:90px;
    color: white;
    background-color:#000;
    overflow:hidden;
    position: relative;
}

.triangle {
    background-image:url(../images/triangle.svg);
    width:877px;
    height:877px;
    position: absolute;
    background-repeat: no-repeat;
    right:-210px;
    top:0;
    background-size: contain;
    animation: rotation 20s linear infinite;
}


.table_theme_dark {
    color: white;
    z-index:1;
}

.theme_dark {
    color: white;
}
.table__cell_theme_dark {
    width: 200px;
    line-height:1.2;
    font-size:18px;
    margin-top: 80px;
}


.footer {
    padding-top:60px;
    padding-bottom:40px;
    background-color: #000;
    color:white;
    min-height:350px;
}

.footer__columns {
    width:90%;
    margin-left:auto;
    margin-right:auto;
    position: relative;
    min-height:350px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}

.footer__column {
    margin-top:0;
    margin-bottom:0;
    margin-left:auto;
    margin-right:auto;
    width:100%;
}

.logo_place_footer {
    background-image: url(../images/logo_white.svg);
    width:183px;
    height:35px;
    left:0;
    top:0;
    position: absolute;
}

.footer__column_content_copyright {
    flex-basis:711px;
    flex-shrink:1;
}

.footer__author {
    line-height:25px;
    font-size:18px;
    margin-bottom:18px;
    margin-top:18px;
    bottom:0;
    left:0;
    position: absolute;
    color:#494848;
}

.footer__social-icons {
    width:16px;
    height:16px; 
    background-size: contain;
    position: relative;
}

.footer__content-social a:link {
    color:#fff;
}

.footer__content-social a:visited {
    color: #fff;
}

.footer__column-links a:link {
    color:#fff;
}

.footer__column-links a:visited {
    color: #fff;
}

.footer__column_content-social {
    margin-bottom:16px;
    flex-shrink:2;
    margin-left:auto;
    margin-right:auto;
}

.footer__column_content-info {
    flex-shrink:1.5;
    margin-left:auto;
    margin-right:auto;
}

.footer__column-heading {
    font-weight:bold;
    margin-bottom:20px;
    margin-top:0;
    line-height:30px;
    font-size:18px;
    font-weight: bold;
}

.footer__column-links {
    margin-bottom:16px;
    line-height:30px;
    font-size:18px;
    list-style-type:none;
}

ul {
    padding-left: 0;
    margin-left: 0;
}
.footer__social-icons a:hover {
    color:rgb(224, 157, 157);
    opacity: 0.5;
    transition:0.5s linear;
}

.footer__column-links a:hover {
    color:rgb(224, 157, 157);
    opacity: 0.5;
    transition:0.5s linear;
}

.footer a {
    display:block;
}
.technics {
    margin-top:100px;
    margin-bottom:100px;
    width:80%;
    margin-right: auto;
    margin-left:auto;
}

.cards {
    margin-left:auto;
    margin-right:auto; 
    width: 80%;
    margin-top:60px;
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 60px;
    grid-column-gap: 100px;
    text-align:center;


}

.cards__image {
    width: 160px;
    height: 160px;
    margin-left:40px;
    margin-right:40px;
    /* margin-bottom:43px; */
    border-radius: 50%;
}

.cards__title {
    line-height: 1.15;
    font-size:24px;
    font-weight: bold;
    margin-top:43px;
    margin-bottom:16px;
}

.cards__description {
    margin-top:16px;
    line-height: 23px;
    font-size:18px;
}

video {
    width:100%;
}

.video {
    padding-bottom:80px;
    margin-top:100px;
    overflow:hidden;
    background: linear-gradient(to bottom,#fff 70%,#f2f2f2 30%);
}
.video__iframes {
    margin-top:50px;
    width:1050px;
    display:flex;
    justify-content: space-between;
    margin-left:auto;
    margin-right:auto;
    overflow:hidden;
}
.video__iframe {
    width:515px;
    height:316px;
}


.oalkey {
    padding-top:80px; 
    padding-bottom:40px;
    background-color:#F2F2F2;
}

.oalkey p {
    margin:0;
}

.khan {
    padding-top:105px;
    background-color: #F2F2F2;
}

.khan__container {
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

.khan__author {
    font-size:30px;
    line-height: 42px;
    margin:0;
}

.khan__title {
    font-size:60px;
    line-height: 1.15;
    font-weight: bold;
    margin:0;
}

.khan__quote{
    width:790px;
    margin-top:50px;
    margin-bottom:36px;
    line-height: 34px;
    font-size:24px;
}

.khan__quote-author {
    line-height: 1.15;
    font-size:24px;
    font-weight: bold;
    margin-top:36px;
    margin-bottom:10px;
}

.khan__auote-author-subline {
    line-height: 1.15;
    font-size:24px;
    margin-top:10px;
    margin-bottom:68px;
}

.khan__book-container {
    display:flex;
    margin-top:68px;
}

.khan__book-pic{
    width:620px;
    height:608px;
    margin-right:20px;
    object-position: top;
    object-fit: cover;
}

.khan__buy-link {
    line-height: 42px;
    font-size:30px;
    margin-left:20px;
}

.resourses {
    margin-top: 100px;
    margin-bottom:217px;
}

.resourses__logo-zone {
    margin-right:auto;
    margin-left:auto;
    margin-top:80px;
    width:1100px;
    height:38px;
    display: flex;
    justify-content: space-between;
}

.resourses__logo {
    width:270px;
    height:38px;
}